.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 480px;
}

.full-width {
  width: 100%;
}

mat-dialog-content {
  padding-top: 10px !important;
}

mat-dialog-actions {
  gap: 8px;
}
