.spacer {
  flex: 1 1 auto;
}

.container {
  padding: 24px;
  max-width: 1400px;
  margin: 0 auto;
}

.error-card,
.empty-card {
  margin-top: 32px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
