.full-width {
  width: 100%;
}

.file-path {
  font-family: monospace;
}

.file-dir {
  margin-left: 4px;
  color: #1976d2;
  font-size: 11px;
  font-weight: 500;
}

.file-source {
  margin-left: 8px;
  opacity: 0.6;
  font-size: 12px;
}
